:root{
    --main-color: #148ac0;
    --text-color: #101314;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(243, 239, 239);
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Festive', cursive;
}
header{
    width: 100%;
    height: 70px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}
header #Logo{
    margin: 10px;
    margin-left: 10%;
    width: 200px;
    
}
header nav{
    margin: 10px;
    margin-right:  10%;
    width: 500px;
    
}
header #menuMovil{
    display: none;
}
header nav ul li{
    float: left;
    list-style: none;
    margin-left: 30px;
    margin-top: 7px;
    padding: 5px;
    transition: 0.5s ease-in all;
}
header nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}
header nav ul li:hover{
    opacity: 0.8;
    background-color: white;
    border-radius: 5px;
   
}
header nav ul li a:hover{
    color: var(--main-color);
}
section#main{
    background-color: black;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main video{
    min-width: 100%;
    min-height: 100%;
}
#main #overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /*background-image: url(../img/patron.png);*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    /*opacity: 0.2;*/
}
#main #overlay h2{
    margin-top: 300px;
    color: white;
    text-align: center;
    font-size: 6rem; 
}
#main #overlay h3{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.btn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-size: 1rem;
    font-weight: lighter;
}
.btnPrimary{
    background-color: #148ac0;
    color: white;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}
a.btn{
    text-decoration: none;
    color: white;
}
#about, #contacto{
    width: 80%;
    height: 700px;
    padding-left: 10%;
    padding-right: 10%;
}
#about .col, #contacto .col{
    float: left;
    width: 50%;
    text-align: justify;
}
#about > h2{
    text-align: center;
    font-size: 3rem;
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
}
#about > .col >h2{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    padding-bottom: 50px;
}
#about .col img{
    width: 70%;
    display: block;
    margin: 20px auto;
}
#about .col p{
    margin-top: 50px;
}
/*#proyecto {
    
}*/
#misproyectos{
    height: 500px;
    background-color: rgb(243, 239, 239);
}
#misproyectos .caja{
    width: 22%;
    height: 60%;
    display: inline-block;
    background-color: white;
    margin-left: 2%;
    margin-top: 25px;
    border-radius: 5%;

}
#misproyectos > h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    margin-left: 2%;
}
#misproyectos .caja > h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 2vh;
    margin-left: 5%;
}
#misproyectos .caja > h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vh;
    margin-left: 5%;
    
}
#misproyectos .caja #btn0 {
    width: 150px;
    background-color: #148ac0;
    margin-left: 25%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid #148ac0;
    font-family: 'Open Sans', sans-serif;
}

#frase > h4{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 6rem;
    margin-bottom: 0px;
    padding-top: 45px;
}
#frase{
    width: 100%;
    height: 250px;
    background-image: url(/IlianLopez.github.io/html/img/baka4.jpg);
}
#contacto{
    padding-top: 100px;
    margin-left: 10px;

}
#contacto .col{
 width: 50%;
 background: rgb(243, 239, 239);
 display: block;
 margin: 20px auto;
 border-radius: 4px;
 font-family: 'Open Sans', sans-serif;
 color: black;
}
#contacto h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-left: 0%;
}
.controls{
    width: 380px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #148ac0;
    font-family: 'Open Sans', sans-serif;
    
}
#contacto .btn{
    background-color: var(--main-color);

}
#derechos{
    width: 100%;
    height: 125px;
    background-color: black;
}
#derechos h6{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 1vh;
    text-align: center;
    padding-top: 50px;
}




